<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ClosePrice</key>
		<real>1.17595</real>
		<key>HighPrice</key>
		<real>1.17632</real>
		<key>LowPrice</key>
		<real>1.17568</real>
		<key>OpenPrice</key>
		<real>1.17589</real>
		<key>PriceTime</key>
		<string>2017-10-26T13:20:00</string>
		<key>Volume</key>
		<real>677</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17566</real>
		<key>HighPrice</key>
		<real>1.1764</real>
		<key>LowPrice</key>
		<real>1.17556</real>
		<key>OpenPrice</key>
		<real>1.17595</real>
		<key>PriceTime</key>
		<string>2017-10-26T13:25:00</string>
		<key>Volume</key>
		<real>837</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.1761</real>
		<key>HighPrice</key>
		<real>1.17632</real>
		<key>LowPrice</key>
		<real>1.17568</real>
		<key>OpenPrice</key>
		<real>1.17589</real>
		<key>PriceTime</key>
		<string>2017-10-26T13:27:00</string>
		<key>Volume</key>
		<integer>677</integer>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.1761</real>
		<key>HighPrice</key>
		<real>1.17632</real>
		<key>LowPrice</key>
		<real>1.17568</real>
		<key>OpenPrice</key>
		<real>1.17589</real>
		<key>PriceTime</key>
		<string>2017-10-26T13:32:00</string>
		<key>Volume</key>
		<integer>677</integer>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17592</real>
		<key>HighPrice</key>
		<real>1.17632</real>
		<key>LowPrice</key>
		<real>1.17568</real>
		<key>OpenPrice</key>
		<real>1.17589</real>
		<key>PriceTime</key>
		<string>2017-10-26T13:32:43</string>
		<key>Volume</key>
		<integer>677</integer>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17154</real>
		<key>HighPrice</key>
		<real>1.17259</real>
		<key>LowPrice</key>
		<real>1.17153</real>
		<key>OpenPrice</key>
		<real>1.17259</real>
		<key>PriceTime</key>
		<string>2017-10-26T13:45:00</string>
		<key>Volume</key>
		<real>646</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17194</real>
		<key>HighPrice</key>
		<real>1.17198</real>
		<key>LowPrice</key>
		<real>1.17063</real>
		<key>OpenPrice</key>
		<real>1.17152</real>
		<key>PriceTime</key>
		<string>2017-10-26T13:50:00</string>
		<key>Volume</key>
		<real>831</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17187</real>
		<key>HighPrice</key>
		<real>1.17238</real>
		<key>LowPrice</key>
		<real>1.17182</real>
		<key>OpenPrice</key>
		<real>1.17193</real>
		<key>PriceTime</key>
		<string>2017-10-26T13:55:00</string>
		<key>Volume</key>
		<real>918</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17228</real>
		<key>HighPrice</key>
		<real>1.17234</real>
		<key>LowPrice</key>
		<real>1.17119</real>
		<key>OpenPrice</key>
		<real>1.17184</real>
		<key>PriceTime</key>
		<string>2017-10-26T14:00:00</string>
		<key>Volume</key>
		<real>708</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17157</real>
		<key>HighPrice</key>
		<real>1.17238</real>
		<key>LowPrice</key>
		<real>1.17136</real>
		<key>OpenPrice</key>
		<real>1.17228</real>
		<key>PriceTime</key>
		<string>2017-10-26T14:05:00</string>
		<key>Volume</key>
		<real>708</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17217</real>
		<key>HighPrice</key>
		<real>1.17221</real>
		<key>LowPrice</key>
		<real>1.1714</real>
		<key>OpenPrice</key>
		<real>1.17156</real>
		<key>PriceTime</key>
		<string>2017-10-26T14:10:00</string>
		<key>Volume</key>
		<real>639</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17231</real>
		<key>HighPrice</key>
		<real>1.17233</real>
		<key>LowPrice</key>
		<real>1.17196</real>
		<key>OpenPrice</key>
		<real>1.17214</real>
		<key>PriceTime</key>
		<string>2017-10-26T14:15:00</string>
		<key>Volume</key>
		<real>504</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17209</real>
		<key>HighPrice</key>
		<real>1.1725</real>
		<key>LowPrice</key>
		<real>1.17201</real>
		<key>OpenPrice</key>
		<real>1.17231</real>
		<key>PriceTime</key>
		<string>2017-10-26T14:20:00</string>
		<key>Volume</key>
		<real>552</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17209</real>
		<key>HighPrice</key>
		<real>1.17218</real>
		<key>LowPrice</key>
		<real>1.17163</real>
		<key>OpenPrice</key>
		<real>1.17208</real>
		<key>PriceTime</key>
		<string>2017-10-26T14:25:00</string>
		<key>Volume</key>
		<real>792</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17172</real>
		<key>HighPrice</key>
		<real>1.17214</real>
		<key>LowPrice</key>
		<real>1.17167</real>
		<key>OpenPrice</key>
		<real>1.17212</real>
		<key>PriceTime</key>
		<string>2017-10-26T14:30:00</string>
		<key>Volume</key>
		<real>420</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17102</real>
		<key>HighPrice</key>
		<real>1.17169</real>
		<key>LowPrice</key>
		<real>1.17091</real>
		<key>OpenPrice</key>
		<real>1.17169</real>
		<key>PriceTime</key>
		<string>2017-10-26T14:35:00</string>
		<key>Volume</key>
		<real>668</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17093</real>
		<key>HighPrice</key>
		<real>1.17113</real>
		<key>LowPrice</key>
		<real>1.17081</real>
		<key>OpenPrice</key>
		<real>1.171</real>
		<key>PriceTime</key>
		<string>2017-10-26T14:40:00</string>
		<key>Volume</key>
		<real>769</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17069</real>
		<key>HighPrice</key>
		<real>1.17094</real>
		<key>LowPrice</key>
		<real>1.17006</real>
		<key>OpenPrice</key>
		<real>1.17093</real>
		<key>PriceTime</key>
		<string>2017-10-26T14:45:00</string>
		<key>Volume</key>
		<real>627</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17039</real>
		<key>HighPrice</key>
		<real>1.17069</real>
		<key>LowPrice</key>
		<real>1.16994</real>
		<key>OpenPrice</key>
		<real>1.17066</real>
		<key>PriceTime</key>
		<string>2017-10-26T14:50:00</string>
		<key>Volume</key>
		<real>722</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17025</real>
		<key>HighPrice</key>
		<real>1.17054</real>
		<key>LowPrice</key>
		<real>1.16989</real>
		<key>OpenPrice</key>
		<real>1.17038</real>
		<key>PriceTime</key>
		<string>2017-10-26T14:55:00</string>
		<key>Volume</key>
		<real>1007</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16994</real>
		<key>HighPrice</key>
		<real>1.17067</real>
		<key>LowPrice</key>
		<real>1.16974</real>
		<key>OpenPrice</key>
		<real>1.17037</real>
		<key>PriceTime</key>
		<string>2017-10-26T15:00:00</string>
		<key>Volume</key>
		<real>733</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16961</real>
		<key>HighPrice</key>
		<real>1.17048</real>
		<key>LowPrice</key>
		<real>1.16952</real>
		<key>OpenPrice</key>
		<real>1.16995</real>
		<key>PriceTime</key>
		<string>2017-10-26T15:05:00</string>
		<key>Volume</key>
		<real>767</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.1691</real>
		<key>HighPrice</key>
		<real>1.16976</real>
		<key>LowPrice</key>
		<real>1.16879</real>
		<key>OpenPrice</key>
		<real>1.16961</real>
		<key>PriceTime</key>
		<string>2017-10-26T15:10:00</string>
		<key>Volume</key>
		<real>901</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16963</real>
		<key>HighPrice</key>
		<real>1.16994</real>
		<key>LowPrice</key>
		<real>1.16899</real>
		<key>OpenPrice</key>
		<real>1.16908</real>
		<key>PriceTime</key>
		<string>2017-10-26T15:15:00</string>
		<key>Volume</key>
		<real>640</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16932</real>
		<key>HighPrice</key>
		<real>1.16983</real>
		<key>LowPrice</key>
		<real>1.16921</real>
		<key>OpenPrice</key>
		<real>1.16966</real>
		<key>PriceTime</key>
		<string>2017-10-26T15:20:00</string>
		<key>Volume</key>
		<real>688</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16924</real>
		<key>HighPrice</key>
		<real>1.16958</real>
		<key>LowPrice</key>
		<real>1.16912</real>
		<key>OpenPrice</key>
		<real>1.16937</real>
		<key>PriceTime</key>
		<string>2017-10-26T15:25:00</string>
		<key>Volume</key>
		<real>789</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16973</real>
		<key>HighPrice</key>
		<real>1.16974</real>
		<key>LowPrice</key>
		<real>1.16909</real>
		<key>OpenPrice</key>
		<real>1.16924</real>
		<key>PriceTime</key>
		<string>2017-10-26T15:30:00</string>
		<key>Volume</key>
		<real>501</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17007</real>
		<key>HighPrice</key>
		<real>1.17025</real>
		<key>LowPrice</key>
		<real>1.16968</real>
		<key>OpenPrice</key>
		<real>1.16973</real>
		<key>PriceTime</key>
		<string>2017-10-26T15:35:00</string>
		<key>Volume</key>
		<real>595</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17005</real>
		<key>HighPrice</key>
		<real>1.17019</real>
		<key>LowPrice</key>
		<real>1.16992</real>
		<key>OpenPrice</key>
		<real>1.17011</real>
		<key>PriceTime</key>
		<string>2017-10-26T15:40:00</string>
		<key>Volume</key>
		<real>686</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.17033</real>
		<key>HighPrice</key>
		<real>1.17045</real>
		<key>LowPrice</key>
		<real>1.16998</real>
		<key>OpenPrice</key>
		<real>1.17006</real>
		<key>PriceTime</key>
		<string>2017-10-26T15:45:00</string>
		<key>Volume</key>
		<real>466</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16994</real>
		<key>HighPrice</key>
		<real>1.17046</real>
		<key>LowPrice</key>
		<real>1.16993</real>
		<key>OpenPrice</key>
		<real>1.17033</real>
		<key>PriceTime</key>
		<string>2017-10-26T15:50:00</string>
		<key>Volume</key>
		<real>504</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16987</real>
		<key>HighPrice</key>
		<real>1.17024</real>
		<key>LowPrice</key>
		<real>1.16954</real>
		<key>OpenPrice</key>
		<real>1.16993</real>
		<key>PriceTime</key>
		<string>2017-10-26T15:55:00</string>
		<key>Volume</key>
		<real>856</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16981</real>
		<key>HighPrice</key>
		<real>1.17002</real>
		<key>LowPrice</key>
		<real>1.16972</real>
		<key>OpenPrice</key>
		<real>1.16989</real>
		<key>PriceTime</key>
		<string>2017-10-26T16:00:00</string>
		<key>Volume</key>
		<real>656</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16918</real>
		<key>HighPrice</key>
		<real>1.16978</real>
		<key>LowPrice</key>
		<real>1.16872</real>
		<key>OpenPrice</key>
		<real>1.16977</real>
		<key>PriceTime</key>
		<string>2017-10-26T16:05:00</string>
		<key>Volume</key>
		<real>651</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16922</real>
		<key>HighPrice</key>
		<real>1.16934</real>
		<key>LowPrice</key>
		<real>1.16881</real>
		<key>OpenPrice</key>
		<real>1.16918</real>
		<key>PriceTime</key>
		<string>2017-10-26T16:10:00</string>
		<key>Volume</key>
		<real>670</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16952</real>
		<key>HighPrice</key>
		<real>1.1697</real>
		<key>LowPrice</key>
		<real>1.16909</real>
		<key>OpenPrice</key>
		<real>1.16923</real>
		<key>PriceTime</key>
		<string>2017-10-26T16:15:00</string>
		<key>Volume</key>
		<real>479</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16924</real>
		<key>HighPrice</key>
		<real>1.16955</real>
		<key>LowPrice</key>
		<real>1.16905</real>
		<key>OpenPrice</key>
		<real>1.1695</real>
		<key>PriceTime</key>
		<string>2017-10-26T16:20:00</string>
		<key>Volume</key>
		<real>610</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16875</real>
		<key>HighPrice</key>
		<real>1.16929</real>
		<key>LowPrice</key>
		<real>1.16875</real>
		<key>OpenPrice</key>
		<real>1.16924</real>
		<key>PriceTime</key>
		<string>2017-10-26T16:25:00</string>
		<key>Volume</key>
		<real>551</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16845</real>
		<key>HighPrice</key>
		<real>1.16881</real>
		<key>LowPrice</key>
		<real>1.16843</real>
		<key>OpenPrice</key>
		<real>1.16873</real>
		<key>PriceTime</key>
		<string>2017-10-26T16:30:00</string>
		<key>Volume</key>
		<real>582</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16852</real>
		<key>HighPrice</key>
		<real>1.16862</real>
		<key>LowPrice</key>
		<real>1.16831</real>
		<key>OpenPrice</key>
		<real>1.16845</real>
		<key>PriceTime</key>
		<string>2017-10-26T16:35:00</string>
		<key>Volume</key>
		<real>612</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16823</real>
		<key>HighPrice</key>
		<real>1.16851</real>
		<key>LowPrice</key>
		<real>1.16813</real>
		<key>OpenPrice</key>
		<real>1.16849</real>
		<key>PriceTime</key>
		<string>2017-10-26T16:40:00</string>
		<key>Volume</key>
		<real>530</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16803</real>
		<key>HighPrice</key>
		<real>1.16828</real>
		<key>LowPrice</key>
		<real>1.16786</real>
		<key>OpenPrice</key>
		<real>1.16821</real>
		<key>PriceTime</key>
		<string>2017-10-26T16:45:00</string>
		<key>Volume</key>
		<real>462</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16841</real>
		<key>HighPrice</key>
		<real>1.16845</real>
		<key>LowPrice</key>
		<real>1.16804</real>
		<key>OpenPrice</key>
		<real>1.16804</real>
		<key>PriceTime</key>
		<string>2017-10-26T16:50:00</string>
		<key>Volume</key>
		<real>454</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16811</real>
		<key>HighPrice</key>
		<real>1.16845</real>
		<key>LowPrice</key>
		<real>1.1681</real>
		<key>OpenPrice</key>
		<real>1.1684</real>
		<key>PriceTime</key>
		<string>2017-10-26T16:55:00</string>
		<key>Volume</key>
		<real>658</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.1675</real>
		<key>HighPrice</key>
		<real>1.16815</real>
		<key>LowPrice</key>
		<real>1.16743</real>
		<key>OpenPrice</key>
		<real>1.16813</real>
		<key>PriceTime</key>
		<string>2017-10-26T17:00:00</string>
		<key>Volume</key>
		<real>564</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16773</real>
		<key>HighPrice</key>
		<real>1.16781</real>
		<key>LowPrice</key>
		<real>1.16743</real>
		<key>OpenPrice</key>
		<real>1.16747</real>
		<key>PriceTime</key>
		<string>2017-10-26T17:05:00</string>
		<key>Volume</key>
		<real>480</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16787</real>
		<key>HighPrice</key>
		<real>1.16795</real>
		<key>LowPrice</key>
		<real>1.16763</real>
		<key>OpenPrice</key>
		<real>1.16775</real>
		<key>PriceTime</key>
		<string>2017-10-26T17:10:00</string>
		<key>Volume</key>
		<real>533</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16757</real>
		<key>HighPrice</key>
		<real>1.16797</real>
		<key>LowPrice</key>
		<real>1.16755</real>
		<key>OpenPrice</key>
		<real>1.16788</real>
		<key>PriceTime</key>
		<string>2017-10-26T17:15:00</string>
		<key>Volume</key>
		<real>559</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16743</real>
		<key>HighPrice</key>
		<real>1.16765</real>
		<key>LowPrice</key>
		<real>1.16644</real>
		<key>OpenPrice</key>
		<real>1.16759</real>
		<key>PriceTime</key>
		<string>2017-10-26T17:20:00</string>
		<key>Volume</key>
		<real>724</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16701</real>
		<key>HighPrice</key>
		<real>1.16765</real>
		<key>LowPrice</key>
		<real>1.16701</real>
		<key>OpenPrice</key>
		<real>1.16743</real>
		<key>PriceTime</key>
		<string>2017-10-26T17:25:00</string>
		<key>Volume</key>
		<real>592</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16715</real>
		<key>HighPrice</key>
		<real>1.16725</real>
		<key>LowPrice</key>
		<real>1.16674</real>
		<key>OpenPrice</key>
		<real>1.16697</real>
		<key>PriceTime</key>
		<string>2017-10-26T17:30:00</string>
		<key>Volume</key>
		<real>570</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16673</real>
		<key>HighPrice</key>
		<real>1.1672</real>
		<key>LowPrice</key>
		<real>1.16667</real>
		<key>OpenPrice</key>
		<real>1.16715</real>
		<key>PriceTime</key>
		<string>2017-10-26T17:35:00</string>
		<key>Volume</key>
		<real>765</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16663</real>
		<key>HighPrice</key>
		<real>1.16701</real>
		<key>LowPrice</key>
		<real>1.16661</real>
		<key>OpenPrice</key>
		<real>1.16673</real>
		<key>PriceTime</key>
		<string>2017-10-26T17:40:00</string>
		<key>Volume</key>
		<real>518</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16726</real>
		<key>HighPrice</key>
		<real>1.16726</real>
		<key>LowPrice</key>
		<real>1.16595</real>
		<key>OpenPrice</key>
		<real>1.16663</real>
		<key>PriceTime</key>
		<string>2017-10-26T17:45:00</string>
		<key>Volume</key>
		<real>988</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16685</real>
		<key>HighPrice</key>
		<real>1.16818</real>
		<key>LowPrice</key>
		<real>1.16671</real>
		<key>OpenPrice</key>
		<real>1.16737</real>
		<key>PriceTime</key>
		<string>2017-10-26T17:50:00</string>
		<key>Volume</key>
		<real>996</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.1663</real>
		<key>HighPrice</key>
		<real>1.16699</real>
		<key>LowPrice</key>
		<real>1.16615</real>
		<key>OpenPrice</key>
		<real>1.1669</real>
		<key>PriceTime</key>
		<string>2017-10-26T17:55:00</string>
		<key>Volume</key>
		<real>773</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.1662</real>
		<key>HighPrice</key>
		<real>1.16635</real>
		<key>LowPrice</key>
		<real>1.16589</real>
		<key>OpenPrice</key>
		<real>1.16629</real>
		<key>PriceTime</key>
		<string>2017-10-26T18:00:00</string>
		<key>Volume</key>
		<real>585</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16601</real>
		<key>HighPrice</key>
		<real>1.16628</real>
		<key>LowPrice</key>
		<real>1.16552</real>
		<key>OpenPrice</key>
		<real>1.16622</real>
		<key>PriceTime</key>
		<string>2017-10-26T18:05:00</string>
		<key>Volume</key>
		<real>800</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16561</real>
		<key>HighPrice</key>
		<real>1.16616</real>
		<key>LowPrice</key>
		<real>1.16557</real>
		<key>OpenPrice</key>
		<real>1.16601</real>
		<key>PriceTime</key>
		<string>2017-10-26T18:10:00</string>
		<key>Volume</key>
		<real>520</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16614</real>
		<key>HighPrice</key>
		<real>1.16614</real>
		<key>LowPrice</key>
		<real>1.16559</real>
		<key>OpenPrice</key>
		<real>1.1656</real>
		<key>PriceTime</key>
		<string>2017-10-26T18:15:00</string>
		<key>Volume</key>
		<real>444</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16601</real>
		<key>HighPrice</key>
		<real>1.16615</real>
		<key>LowPrice</key>
		<real>1.16581</real>
		<key>OpenPrice</key>
		<real>1.16613</real>
		<key>PriceTime</key>
		<string>2017-10-26T18:20:00</string>
		<key>Volume</key>
		<real>626</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.1665</real>
		<key>HighPrice</key>
		<real>1.1665</real>
		<key>LowPrice</key>
		<real>1.16594</real>
		<key>OpenPrice</key>
		<real>1.16601</real>
		<key>PriceTime</key>
		<string>2017-10-26T18:25:00</string>
		<key>Volume</key>
		<real>372</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16663</real>
		<key>HighPrice</key>
		<real>1.1667</real>
		<key>LowPrice</key>
		<real>1.16628</real>
		<key>OpenPrice</key>
		<real>1.16648</real>
		<key>PriceTime</key>
		<string>2017-10-26T18:30:00</string>
		<key>Volume</key>
		<real>427</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16615</real>
		<key>HighPrice</key>
		<real>1.16674</real>
		<key>LowPrice</key>
		<real>1.16611</real>
		<key>OpenPrice</key>
		<real>1.16664</real>
		<key>PriceTime</key>
		<string>2017-10-26T18:35:00</string>
		<key>Volume</key>
		<real>414</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16642</real>
		<key>HighPrice</key>
		<real>1.16651</real>
		<key>LowPrice</key>
		<real>1.16605</real>
		<key>OpenPrice</key>
		<real>1.16616</real>
		<key>PriceTime</key>
		<string>2017-10-26T18:40:00</string>
		<key>Volume</key>
		<real>311</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16633</real>
		<key>HighPrice</key>
		<real>1.16643</real>
		<key>LowPrice</key>
		<real>1.16612</real>
		<key>OpenPrice</key>
		<real>1.16643</real>
		<key>PriceTime</key>
		<string>2017-10-26T18:45:00</string>
		<key>Volume</key>
		<real>513</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.1664</real>
		<key>HighPrice</key>
		<real>1.16643</real>
		<key>LowPrice</key>
		<real>1.16623</real>
		<key>OpenPrice</key>
		<real>1.16633</real>
		<key>PriceTime</key>
		<string>2017-10-26T18:50:00</string>
		<key>Volume</key>
		<real>411</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16579</real>
		<key>HighPrice</key>
		<real>1.16646</real>
		<key>LowPrice</key>
		<real>1.16577</real>
		<key>OpenPrice</key>
		<real>1.16641</real>
		<key>PriceTime</key>
		<string>2017-10-26T18:55:00</string>
		<key>Volume</key>
		<real>698</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16553</real>
		<key>HighPrice</key>
		<real>1.16584</real>
		<key>LowPrice</key>
		<real>1.16552</real>
		<key>OpenPrice</key>
		<real>1.16574</real>
		<key>PriceTime</key>
		<string>2017-10-26T19:00:00</string>
		<key>Volume</key>
		<real>497</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16524</real>
		<key>HighPrice</key>
		<real>1.16555</real>
		<key>LowPrice</key>
		<real>1.16492</real>
		<key>OpenPrice</key>
		<real>1.16554</real>
		<key>PriceTime</key>
		<string>2017-10-26T19:05:00</string>
		<key>Volume</key>
		<real>900</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16507</real>
		<key>HighPrice</key>
		<real>1.16544</real>
		<key>LowPrice</key>
		<real>1.16493</real>
		<key>OpenPrice</key>
		<real>1.16526</real>
		<key>PriceTime</key>
		<string>2017-10-26T19:10:00</string>
		<key>Volume</key>
		<real>474</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16508</real>
		<key>HighPrice</key>
		<real>1.16513</real>
		<key>LowPrice</key>
		<real>1.16493</real>
		<key>OpenPrice</key>
		<real>1.16507</real>
		<key>PriceTime</key>
		<string>2017-10-26T19:15:00</string>
		<key>Volume</key>
		<real>410</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16521</real>
		<key>HighPrice</key>
		<real>1.16524</real>
		<key>LowPrice</key>
		<real>1.16502</real>
		<key>OpenPrice</key>
		<real>1.16509</real>
		<key>PriceTime</key>
		<string>2017-10-26T19:20:00</string>
		<key>Volume</key>
		<real>499</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16516</real>
		<key>HighPrice</key>
		<real>1.1653</real>
		<key>LowPrice</key>
		<real>1.16512</real>
		<key>OpenPrice</key>
		<real>1.16521</real>
		<key>PriceTime</key>
		<string>2017-10-26T19:25:00</string>
		<key>Volume</key>
		<real>374</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16513</real>
		<key>HighPrice</key>
		<real>1.1652</real>
		<key>LowPrice</key>
		<real>1.16493</real>
		<key>OpenPrice</key>
		<real>1.16515</real>
		<key>PriceTime</key>
		<string>2017-10-26T19:30:00</string>
		<key>Volume</key>
		<real>309</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16508</real>
		<key>HighPrice</key>
		<real>1.16519</real>
		<key>LowPrice</key>
		<real>1.16503</real>
		<key>OpenPrice</key>
		<real>1.16513</real>
		<key>PriceTime</key>
		<string>2017-10-26T19:35:00</string>
		<key>Volume</key>
		<real>387</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16505</real>
		<key>HighPrice</key>
		<real>1.16511</real>
		<key>LowPrice</key>
		<real>1.16492</real>
		<key>OpenPrice</key>
		<real>1.16507</real>
		<key>PriceTime</key>
		<string>2017-10-26T19:40:00</string>
		<key>Volume</key>
		<real>359</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16417</real>
		<key>HighPrice</key>
		<real>1.16504</real>
		<key>LowPrice</key>
		<real>1.16398</real>
		<key>OpenPrice</key>
		<real>1.16504</real>
		<key>PriceTime</key>
		<string>2017-10-26T19:45:00</string>
		<key>Volume</key>
		<real>800</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.1647</real>
		<key>HighPrice</key>
		<real>1.16486</real>
		<key>LowPrice</key>
		<real>1.16406</real>
		<key>OpenPrice</key>
		<real>1.16418</real>
		<key>PriceTime</key>
		<string>2017-10-26T19:50:00</string>
		<key>Volume</key>
		<real>569</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16463</real>
		<key>HighPrice</key>
		<real>1.16486</real>
		<key>LowPrice</key>
		<real>1.16441</real>
		<key>OpenPrice</key>
		<real>1.16469</real>
		<key>PriceTime</key>
		<string>2017-10-26T19:55:00</string>
		<key>Volume</key>
		<real>512</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16464</real>
		<key>HighPrice</key>
		<real>1.16483</real>
		<key>LowPrice</key>
		<real>1.16459</real>
		<key>OpenPrice</key>
		<real>1.16464</real>
		<key>PriceTime</key>
		<string>2017-10-26T20:00:00</string>
		<key>Volume</key>
		<real>584</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.1647</real>
		<key>HighPrice</key>
		<real>1.16486</real>
		<key>LowPrice</key>
		<real>1.16448</real>
		<key>OpenPrice</key>
		<real>1.16463</real>
		<key>PriceTime</key>
		<string>2017-10-26T20:05:00</string>
		<key>Volume</key>
		<real>439</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16495</real>
		<key>HighPrice</key>
		<real>1.16498</real>
		<key>LowPrice</key>
		<real>1.16448</real>
		<key>OpenPrice</key>
		<real>1.16469</real>
		<key>PriceTime</key>
		<string>2017-10-26T20:10:00</string>
		<key>Volume</key>
		<real>429</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16501</real>
		<key>HighPrice</key>
		<real>1.1651</real>
		<key>LowPrice</key>
		<real>1.16491</real>
		<key>OpenPrice</key>
		<real>1.16495</real>
		<key>PriceTime</key>
		<string>2017-10-26T20:15:00</string>
		<key>Volume</key>
		<real>254</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16508</real>
		<key>HighPrice</key>
		<real>1.16519</real>
		<key>LowPrice</key>
		<real>1.165</real>
		<key>OpenPrice</key>
		<real>1.165</real>
		<key>PriceTime</key>
		<string>2017-10-26T20:20:00</string>
		<key>Volume</key>
		<real>365</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16539</real>
		<key>HighPrice</key>
		<real>1.16541</real>
		<key>LowPrice</key>
		<real>1.16504</real>
		<key>OpenPrice</key>
		<real>1.16507</real>
		<key>PriceTime</key>
		<string>2017-10-26T20:25:00</string>
		<key>Volume</key>
		<real>350</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16534</real>
		<key>HighPrice</key>
		<real>1.16549</real>
		<key>LowPrice</key>
		<real>1.16529</real>
		<key>OpenPrice</key>
		<real>1.16549</real>
		<key>PriceTime</key>
		<string>2017-10-26T20:30:00</string>
		<key>Volume</key>
		<real>208</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.1654</real>
		<key>HighPrice</key>
		<real>1.16542</real>
		<key>LowPrice</key>
		<real>1.1653</real>
		<key>OpenPrice</key>
		<real>1.16534</real>
		<key>PriceTime</key>
		<string>2017-10-26T20:35:00</string>
		<key>Volume</key>
		<real>220</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16546</real>
		<key>HighPrice</key>
		<real>1.16547</real>
		<key>LowPrice</key>
		<real>1.16534</real>
		<key>OpenPrice</key>
		<real>1.16541</real>
		<key>PriceTime</key>
		<string>2017-10-26T20:40:00</string>
		<key>Volume</key>
		<real>247</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16538</real>
		<key>HighPrice</key>
		<real>1.16549</real>
		<key>LowPrice</key>
		<real>1.16534</real>
		<key>OpenPrice</key>
		<real>1.16545</real>
		<key>PriceTime</key>
		<string>2017-10-26T20:45:00</string>
		<key>Volume</key>
		<real>312</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16534</real>
		<key>HighPrice</key>
		<real>1.16571</real>
		<key>LowPrice</key>
		<real>1.16524</real>
		<key>OpenPrice</key>
		<real>1.16536</real>
		<key>PriceTime</key>
		<string>2017-10-26T20:50:00</string>
		<key>Volume</key>
		<real>480</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16498</real>
		<key>HighPrice</key>
		<real>1.16536</real>
		<key>LowPrice</key>
		<real>1.16478</real>
		<key>OpenPrice</key>
		<real>1.16533</real>
		<key>PriceTime</key>
		<string>2017-10-26T20:55:00</string>
		<key>Volume</key>
		<real>2269</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16542</real>
		<key>HighPrice</key>
		<real>1.16561</real>
		<key>LowPrice</key>
		<real>1.16538</real>
		<key>OpenPrice</key>
		<real>1.16548</real>
		<key>PriceTime</key>
		<string>2017-10-26T21:15:00</string>
		<key>Volume</key>
		<real>242</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16534</real>
		<key>HighPrice</key>
		<real>1.16555</real>
		<key>LowPrice</key>
		<real>1.16531</real>
		<key>OpenPrice</key>
		<real>1.16548</real>
		<key>PriceTime</key>
		<string>2017-10-26T21:20:00</string>
		<key>Volume</key>
		<real>258</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16525</real>
		<key>HighPrice</key>
		<real>1.16546</real>
		<key>LowPrice</key>
		<real>1.16509</real>
		<key>OpenPrice</key>
		<real>1.16534</real>
		<key>PriceTime</key>
		<string>2017-10-26T21:25:00</string>
		<key>Volume</key>
		<real>198</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16512</real>
		<key>HighPrice</key>
		<real>1.16536</real>
		<key>LowPrice</key>
		<real>1.16511</real>
		<key>OpenPrice</key>
		<real>1.16527</real>
		<key>PriceTime</key>
		<string>2017-10-26T21:30:00</string>
		<key>Volume</key>
		<real>462</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16517</real>
		<key>HighPrice</key>
		<real>1.16521</real>
		<key>LowPrice</key>
		<real>1.16511</real>
		<key>OpenPrice</key>
		<real>1.16513</real>
		<key>PriceTime</key>
		<string>2017-10-26T21:35:00</string>
		<key>Volume</key>
		<real>199</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16531</real>
		<key>HighPrice</key>
		<real>1.16534</real>
		<key>LowPrice</key>
		<real>1.16515</real>
		<key>OpenPrice</key>
		<real>1.16518</real>
		<key>PriceTime</key>
		<string>2017-10-26T21:40:00</string>
		<key>Volume</key>
		<real>234</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16527</real>
		<key>HighPrice</key>
		<real>1.16535</real>
		<key>LowPrice</key>
		<real>1.16524</real>
		<key>OpenPrice</key>
		<real>1.1653</real>
		<key>PriceTime</key>
		<string>2017-10-26T21:45:00</string>
		<key>Volume</key>
		<real>367</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16533</real>
		<key>HighPrice</key>
		<real>1.16534</real>
		<key>LowPrice</key>
		<real>1.16518</real>
		<key>OpenPrice</key>
		<real>1.16526</real>
		<key>PriceTime</key>
		<string>2017-10-26T21:50:00</string>
		<key>Volume</key>
		<real>536</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16529</real>
		<key>HighPrice</key>
		<real>1.16541</real>
		<key>LowPrice</key>
		<real>1.16519</real>
		<key>OpenPrice</key>
		<real>1.16532</real>
		<key>PriceTime</key>
		<string>2017-10-26T21:55:00</string>
		<key>Volume</key>
		<real>297</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16522</real>
		<key>HighPrice</key>
		<real>1.16529</real>
		<key>LowPrice</key>
		<real>1.16512</real>
		<key>OpenPrice</key>
		<real>1.16527</real>
		<key>PriceTime</key>
		<string>2017-10-26T22:00:00</string>
		<key>Volume</key>
		<real>398</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16529</real>
		<key>HighPrice</key>
		<real>1.16531</real>
		<key>LowPrice</key>
		<real>1.16522</real>
		<key>OpenPrice</key>
		<real>1.16523</real>
		<key>PriceTime</key>
		<string>2017-10-26T22:05:00</string>
		<key>Volume</key>
		<real>449</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16539</real>
		<key>HighPrice</key>
		<real>1.1654</real>
		<key>LowPrice</key>
		<real>1.16525</real>
		<key>OpenPrice</key>
		<real>1.16527</real>
		<key>PriceTime</key>
		<string>2017-10-26T22:10:00</string>
		<key>Volume</key>
		<real>296</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16533</real>
		<key>HighPrice</key>
		<real>1.16544</real>
		<key>LowPrice</key>
		<real>1.16528</real>
		<key>OpenPrice</key>
		<real>1.16539</real>
		<key>PriceTime</key>
		<string>2017-10-26T22:15:00</string>
		<key>Volume</key>
		<real>222</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16518</real>
		<key>HighPrice</key>
		<real>1.16544</real>
		<key>LowPrice</key>
		<real>1.16512</real>
		<key>OpenPrice</key>
		<real>1.16532</real>
		<key>PriceTime</key>
		<string>2017-10-26T22:20:00</string>
		<key>Volume</key>
		<real>329</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16511</real>
		<key>HighPrice</key>
		<real>1.16523</real>
		<key>LowPrice</key>
		<real>1.16504</real>
		<key>OpenPrice</key>
		<real>1.16518</real>
		<key>PriceTime</key>
		<string>2017-10-26T22:25:00</string>
		<key>Volume</key>
		<real>271</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16516</real>
		<key>HighPrice</key>
		<real>1.16528</real>
		<key>LowPrice</key>
		<real>1.16509</real>
		<key>OpenPrice</key>
		<real>1.16511</real>
		<key>PriceTime</key>
		<string>2017-10-26T22:30:00</string>
		<key>Volume</key>
		<real>259</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16498</real>
		<key>HighPrice</key>
		<real>1.16521</real>
		<key>LowPrice</key>
		<real>1.16497</real>
		<key>OpenPrice</key>
		<real>1.16519</real>
		<key>PriceTime</key>
		<string>2017-10-26T22:35:00</string>
		<key>Volume</key>
		<real>102</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16463</real>
		<key>HighPrice</key>
		<real>1.16509</real>
		<key>LowPrice</key>
		<real>1.16461</real>
		<key>OpenPrice</key>
		<real>1.16498</real>
		<key>PriceTime</key>
		<string>2017-10-26T22:40:00</string>
		<key>Volume</key>
		<real>185</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16438</real>
		<key>HighPrice</key>
		<real>1.16464</real>
		<key>LowPrice</key>
		<real>1.16433</real>
		<key>OpenPrice</key>
		<real>1.16463</real>
		<key>PriceTime</key>
		<string>2017-10-26T22:45:00</string>
		<key>Volume</key>
		<real>283</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16434</real>
		<key>HighPrice</key>
		<real>1.16442</real>
		<key>LowPrice</key>
		<real>1.1643</real>
		<key>OpenPrice</key>
		<real>1.16438</real>
		<key>PriceTime</key>
		<string>2017-10-26T22:50:00</string>
		<key>Volume</key>
		<real>171</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16447</real>
		<key>HighPrice</key>
		<real>1.16449</real>
		<key>LowPrice</key>
		<real>1.16428</real>
		<key>OpenPrice</key>
		<real>1.16433</real>
		<key>PriceTime</key>
		<string>2017-10-26T22:55:00</string>
		<key>Volume</key>
		<real>402</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16352</real>
		<key>HighPrice</key>
		<real>1.16449</real>
		<key>LowPrice</key>
		<real>1.16344</real>
		<key>OpenPrice</key>
		<real>1.16448</real>
		<key>PriceTime</key>
		<string>2017-10-26T23:00:00</string>
		<key>Volume</key>
		<real>542</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16339</real>
		<key>HighPrice</key>
		<real>1.16366</real>
		<key>LowPrice</key>
		<real>1.16333</real>
		<key>OpenPrice</key>
		<real>1.16355</real>
		<key>PriceTime</key>
		<string>2017-10-26T23:05:00</string>
		<key>Volume</key>
		<real>340</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16336</real>
		<key>HighPrice</key>
		<real>1.16367</real>
		<key>LowPrice</key>
		<real>1.16332</real>
		<key>OpenPrice</key>
		<real>1.16338</real>
		<key>PriceTime</key>
		<string>2017-10-26T23:10:00</string>
		<key>Volume</key>
		<real>414</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16326</real>
		<key>HighPrice</key>
		<real>1.16345</real>
		<key>LowPrice</key>
		<real>1.16308</real>
		<key>OpenPrice</key>
		<real>1.16337</real>
		<key>PriceTime</key>
		<string>2017-10-26T23:15:00</string>
		<key>Volume</key>
		<real>423</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16336</real>
		<key>HighPrice</key>
		<real>1.1635</real>
		<key>LowPrice</key>
		<real>1.16329</real>
		<key>OpenPrice</key>
		<real>1.1633</real>
		<key>PriceTime</key>
		<string>2017-10-26T23:20:00</string>
		<key>Volume</key>
		<real>294</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16372</real>
		<key>HighPrice</key>
		<real>1.16372</real>
		<key>LowPrice</key>
		<real>1.16335</real>
		<key>OpenPrice</key>
		<real>1.16335</real>
		<key>PriceTime</key>
		<string>2017-10-26T23:25:00</string>
		<key>Volume</key>
		<real>294</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16369</real>
		<key>HighPrice</key>
		<real>1.16371</real>
		<key>LowPrice</key>
		<real>1.16348</real>
		<key>OpenPrice</key>
		<real>1.16367</real>
		<key>PriceTime</key>
		<string>2017-10-26T23:30:00</string>
		<key>Volume</key>
		<real>326</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16329</real>
		<key>HighPrice</key>
		<real>1.16373</real>
		<key>LowPrice</key>
		<real>1.16329</real>
		<key>OpenPrice</key>
		<real>1.1637</real>
		<key>PriceTime</key>
		<string>2017-10-26T23:35:00</string>
		<key>Volume</key>
		<real>297</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16319</real>
		<key>HighPrice</key>
		<real>1.16335</real>
		<key>LowPrice</key>
		<real>1.16314</real>
		<key>OpenPrice</key>
		<real>1.1633</real>
		<key>PriceTime</key>
		<string>2017-10-26T23:40:00</string>
		<key>Volume</key>
		<real>398</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.1632</real>
		<key>HighPrice</key>
		<real>1.16326</real>
		<key>LowPrice</key>
		<real>1.16311</real>
		<key>OpenPrice</key>
		<real>1.16318</real>
		<key>PriceTime</key>
		<string>2017-10-26T23:45:00</string>
		<key>Volume</key>
		<real>374</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16336</real>
		<key>HighPrice</key>
		<real>1.16336</real>
		<key>LowPrice</key>
		<real>1.16323</real>
		<key>OpenPrice</key>
		<real>1.16324</real>
		<key>PriceTime</key>
		<string>2017-10-26T23:50:00</string>
		<key>Volume</key>
		<real>269</real>
	</dict>
	<dict>
		<key>ClosePrice</key>
		<real>1.16371</real>
		<key>HighPrice</key>
		<real>1.16373</real>
		<key>LowPrice</key>
		<real>1.16336</real>
		<key>OpenPrice</key>
		<real>1.16336</real>
		<key>PriceTime</key>
		<string>2017-10-26T23:55:00</string>
		<key>Volume</key>
		<real>430</real>
	</dict>
</array>
</plist>
